/* add styles here */

body {
  font-family: arial, serif;;
  padding:4px;
  font-size:88%;
  color:#333;
  background:#444C57 url("background.png");
}

#account {
  float:right;
}

#phono{
	position: absolute;
	top:50%;
	left:50%;
	width:400px;
	height:300px;
	margin-top:-150px;
	margin-left:-200px;
	background:#efefef;
	border:5px solid #efefef;
	-webkit-box-shadow:0px 1px 10px #000;
	border-radius:10px;
}

#status{
	position:absolute;
	top:-24px;
	left:-24px;
	width:48px;
	height:48px;
}

#status-text{
	margin:0 auto;
	margin-top:110px;
	font-size:240%;
	width:380px;
	text-align:center;
}

#screen-pop{
    	position: absolute;
	top:2%;
	left:50%;
	width:400px;
	height:60px;
	margin-top:20px;
	margin-left:-200px;
	font-size:140%;
	background:#efefef;
	border:5px solid #efefef;
	-webkit-box-shadow:0px 1px 10px #000;
	border-radius:10px;
     text-align:center;
}

.available{
	background:url("available.png") no-repeat 0 0;
}

.unnavailable{
	background:url("unnavailable.png") no-repeat 0 0;
}

.loading{
	background:url("loading.png") no-repeat 0 0;
}

.button{
	width:200px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	text-decoration:none;
	border:3px solid #333;
	text-align:center;
	padding:8px 15px;
	color:#fff;
	font-size:200%;
	margin-top:100px;
	border-radius:10px;
	display:none;
}

.answer{
	background:green;
}

.hangup{
	background:red;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#items {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#items ul {
  list-style: none;
}
